name: checkMyrole
on: [push]

jobs:
  checkDebian:
    runs-on: [ubuntu-18.04]
    env:
      MOLECULE_DISTRO: ubuntu1804
    steps:
      - name: checkout
        uses: actions/checkout@v2.0.0
      - name: Setup Python environment
        uses: actions/setup-python@v1.1.1
      - name: Installing test dependency
        run: pip install molecule docker
      - name: Testing Role ${{ GITHUB_REPOSITORY }}
        run: molecule test
  checkCentos:
    runs-on: [ubuntu-18.04]
    env:
      MOLECULE_DISTRO: centos7
    steps:
      - name: checkout
        uses: actions/checkout@v2.0.0
      - name: Setup Python environment
        uses: actions/setup-python@v1.1.1
      - name: Installing test dependency
        run: pip install molecule docker
      - name: Testing Role ${{ GITHUB_REPOSITORY }}
        run: molecule test

