name: CI
on: push

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - debian
          - centos
          - ubuntu
            
    steps:
      - uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@1.1.1
        with:
          image: ${{ matrix.image }}
          options: "--parallel all"
