name: checkMyrole
on: [push]

jobs:
  checkDebian:
    runs-on: [ubuntu-18.04]
    env:
      MOLECULE_DISTRO: ubuntu1804
    steps:
      - name: checkout
        uses: actions/checkout@v2.0.0
      - name: Run some commands
        run: |
          echo $MOLECULE_DISTRO
          which molecule
