name: CI
on: push

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [centos, ubuntu-latest]
        include:
        - os: centos7
          MOLECULE_DISTRO: centos7
        - os: ubuntu-latest
          MOLECULE_DISTRO : ubuntu
          
    steps:
     - uses: actions/checkout@v1
     - run: echo ${{matrix.MOLECULE_DISTRO}}
        
